/cmake-build*
/[Bb]uild
/managed_components
/.idea
/.vscode
/.cache
dependencies.lock
sdkconfig.old
sdkconfig
/install
/.claude/settings.local.json
compile_commands.json
CMakeUserPresets.json
CLAUDE.md
